@font-face {
    font-family: 'Sora';
    src: url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;800&display=swap');
}

body {
    width: 1440px;
    height: 100%;
    border: 0;
    margin: 0 auto;
    font-family: 'Sora', sans-serif;
}

.tygh-header {
    background-color: #fff;

}

/* .row-header {
    height: 139px;
} */

.tygh-content>div {
    background: #fff;
}

.mainmenuul {
    width: 1357px;
}

.bg {
    width: 100%;
    height: 37px;
    background: #F8C24E;
}

.bg>p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1A383F;
    height: 21px;
    left: calc(50% - 435px/2 - 0.5px);
    top: 8px;
}

.menuul {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 1000;
    align-items: center;
    margin-right: 80px;
    padding-top: 24px;
}

.menu-item {
    margin-left: 42px;
}

.menu-item>a {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 12px;
}

.top-search-block-grid {
    width: 566px;
    float: left;
    margin: 9px 0 0 75px;
    position: relative;
}

.itemsearch {
    position: absolute;
    z-index: 100;
    margin-left: 20px;
    margin-top: 22px;
}

.search-block {
    position: relative;
    text-align: right;
    z-index: 999;
}

.logo-container {
    position: relative;
    z-index: 1000;
    margin-top: -29px;
    text-align: center;
}

.top-search-block-grid:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    position: absolute;
    top: -11px;
    bottom: 0;
    right: 25%;

}

.top-search-block-grid:before {
    content: "";
    background: #fff;
    width: 25%;
    position: absolute;
    right: 0;
    height: 61px;
    top: -7px;
}

.helper-container .search-input {
    box-sizing: border-box;
    color: #1A383F;
    width: 420px;
    height: 48px;
    position: relative;
    border: 2px solid rgba(90, 115, 14, 0.4);
    border-radius: 4px 0px 0px 4px;
    top: 6px;
    font-size: 13px;
    padding-left: 54px;
}

button.search-magnifier {
    height: 48px;
    width: 153px;
    right: 0;
    border-radius: 0 4px 4px 0;
    background-color: #5A730E;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.btn-cart {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 930px;
    gap: 0 49px;
}
.btn-product {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 78px 12px 52px;
    background: transparent;
    border: 2px solid #E98D26;
    border-radius: 4px;

}
.btn-product a{
    color: #E98D26;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.btn-product img {
    left: 90px;
}

.button-sign {
    background: transparent;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    color: #1A383F;
    cursor: pointer;
}

.button-cart {
    background: transparent;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    color: #1A383F;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.button-cartt {
    display: grid;
    color: #1A383F;

}

.fs-header .mainicon {
    position: absolute;
    top: 566px;
}


/* Baner */

.mainbaner-content {
    position: absolute;
    font-style: normal;
    width: 626px;
    height: 72px;
    left: 108px;
    margin-top: 132px;
    z-index: 5;
}

.mainbaner-content>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
}

.mainbaner-content>p {
    margin-top: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    opacity: 0.8;
}


.icont {
    margin: 30px;
    position: relative;
    z-index: 100;
}


/* .iconmark {
    position: absolute;
    width: 8px;
    height: 28px;
    left: 1312px;
    top: 293px;
    background: #E98D26;
    border-radius: 8px;

} */
.e-mark {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-top: 36px;
    background: #FFFFFF;
    opacity: 0.6;
}

.e-markk {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-top: 8px;
    background: #FFFFFF;
    opacity: 0.6;
}

.btn-banner {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 12px 52px;
    gap: 10px;
    background: #E98D26;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
}


/* Benefit  */

.benefits-section {
    position: relative;
    width: 1440px;
    height: 324px;
    background: #F3F7F2;
}

.benefitsmn {
    padding: 80px 80px 80px 80px;
    display: flex;
}

.benefits {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.benefitsmn .benefits>h3 {
    margin-top: 35px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

/* Product */
.main-sellers {
    background: #FFFFFF;
}

.best-sellers {
    margin: 124px 80px 0 80px;
    height: 624px; 
}

.title-seller {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 24px;
}



.title-seller>h3 {
    margin-left: 108px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #1A383F;
    height: 42px
}
.title-seller .btn-product img {
    position: absolute;
    margin-left: 126px;
}

/* article section */
.atricle-section {
    width: 1280px;  
    height: 482px;
    position: relative;
    margin: 124px 80px 0 80px;
}

.atricle-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 522px 738px;
    gap: 20px;
}
.atricle-layout {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atricle-title .layout-title {
    position: absolute;
    margin: 48px auto auto 80px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.layout-title-parent {
    position: absolute;
    margin: 80px auto auto 80px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.layout-title-parent span{
    position: absolute;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #ffff;
    width: 296px;
}
.atricle-title .layout-title span {
    text-align: end;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #ffff;
}
.atricle-title .btn-footer{
    position: absolute;
    margin: 112px auto 60px 80px;
}
.atricle-title .one{
    margin: 196px auto 60px 80px;
}
.atricle-title .two{
    margin: 154px auto 60px 80px;
}
.atricle-layout:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
}


/* Our Collections */

div.box-our-collection {
    width: 1440px;
    height: 678px;
    position: relative;
    background: #F3F7F2;
    padding: 80px;
    box-sizing: border-box;
    margin-top: 80px;
  }
  
  
  div.box-our-collection .box-header h2 {
    position: absolute;
    width: 259px;
    height: 42px;
    margin-left: 510px;
    margin-right: 510px;
    margin: 0px 511px 24px 510px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    color: #1A383F;
  }
  
  div.box-our-collection hr {
    position: absolute;
    width: 1280px;
    height: 2px;
    background: rgba(90, 115, 14, 0.4);
    border-radius: 1px;
    margin-top: 66px;
    margin-bottom: 450px;
  }
  
  .gird-box {
  
    margin-top: 132px;
    box-sizing: border-box;
  
  }
  
  .gird-item {
    border: 2px solid rgba(90, 115, 14, 0.4);
    border-radius: 4px;
  }
  
  .gird-box {
    display: grid;
    --width--colum: 197px;
    grid-template-columns: var(--width--colum) var(--width--colum) var(--width--colum) var(--width--colum) var(--width--colum) var(--width--colum);
    grid-template-rows: 177px 177px;
    grid-column-gap: 20px;
    grid-row-gap: 32px;
  }
  
  .gird-item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .gird-item:nth-child(3) {
    grid-row: 1/3;
    grid-column: 4/5;
  }
  
  .gird-item:first-child img {
    position: absolute;
    width: 258px;
    height: 214px;
    margin: -34px 173px 0px -18px;
  }
  
  .gird-item:nth-child(2) img {
    position: absolute;
    width: 148px;
    height: 121px;
    margin: 54px 2px 2px 47px;
  }
  
  .gird-item:nth-child(3) img {
    position: absolute;
    width: 171px;
    height: 315.3px;
    margin: 68.7px 24px 0px 0px;
  }
  
  .gird-item:nth-child(4) img {
    position: absolute;
    width: 190px;
    height: 136px;
    margin: 47px -34px -6px 40px;
  }
  
  .gird-item:nth-child(5) img {
    position: absolute;
    width: 149.75px;
    height: 119.8px;
    margin: 24px 64px 2px 2px;
  }
  
  .gird-item:nth-child(6) img {
    position: absolute;
    width: 122px;
    height: 144px;
    margin: -17px 35px 50px 40px;
  }
  
  .gird-item:nth-child(7) img {
    position: absolute;
    width: 168px;
    height: 173px;
    margin: -32px 18px 36px 10px;
  }
  
  .gird-item:nth-child(8) img {
    position: absolute;
    width: 182px;
    height: 142px;
    margin: -21px 7px 56px 8px;
  }
  
  .gird-item:nth-child(9) img {
    position: absolute;
    width: 178px;
    height: 133px;
    margin: -13px -5px 57px 24px;
  }
  
  .gird-item:last-child img {
    position: absolute;
    width: 142px;
    height: 144px;
    margin: -19px 64px 52px -9px;
  }
  
  .gird-item div.text-item {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    width: auto;
    line-height: 24px;
    color: #40520A;
  }
  
  .gird-item:first-child div.text-item {
    margin: 24px 40px 129px 257px;
  }
  
  .gird-item:nth-child(2) div.text-item {
    margin: 24px 47px 129px 47px;
  }
  
  .gird-item:nth-child(3) div.text-item {
    margin: 24px 24px 338px 101px;
  }
  
  .gird-item:nth-child(4) div.text-item {
    margin: 24px 96px 129px 23px;
  }
  
  .gird-item:nth-child(5) div.text-item {
    margin: 24px 24px 129px 99px;
  }
  
  .gird-item:nth-child(6) div.text-item {
    margin: 129px 44px 24px 44px;
  }
  
  .gird-item:nth-child(7) div.text-item {
    margin: 129px 24px 36px 24px;
  }
  
  .gird-item:nth-child(8) div.text-item {
    margin: 129px 45px 24px 46px;
  }
  
  .gird-item:nth-child(9) div.text-item {
    margin: 129px 122px 24px 24px;
  }
  
  .gird-item:last-child div.text-item {
    margin: 129px 24px 24px 88px;
  }
  


/* menu wrap */
.f-wrap {
    width: 1360px;
    height: 57px;
    margin: 0 auto;
    position: relative;
}



.fs-hdmsub {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 200px;
    padding: 8px 20px;
    border: solid 1px #d3d3d3;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.fs-hdmsub>li {
    text-align: left
}

.fs-hdmsub>li>a {
    display: block;
    font-size: 14px;
    line-height: 2.43;
    color: #3d3d3d
}

.fs-hdmsub>li>a:hover {
    color: #000
}

.fs--sub-user {
    opacity: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 56px;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 8px
}

.fs--sub-user::after,
.fs--sub-user::before {
    top: -12px;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    border-left-width: 4px;
    border-right-width: 4px;
    border: 7px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.fs--sub-user::before {
    border-bottom-color: #cbd1d6
}

.fs--sub-user::after {
    border-bottom-color: #fff
}

.fs--sub-user li {
    width: 214px;
    background: #fff;
    border-left: 1px solid #cbd1d6;
    border-right: 1px solid #cbd1d6;
    border-bottom: 1px solid #cbd1d6
}

.fs--sub-user li:first-child {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #cbd1d6
}

.fs--sub-user li:last-child {
    border-radius: 0 0 8px 8px
}

.fs--sub-user li a {
    padding: 8px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer
}

.fs--sub-user li a i {
    font-size: 20px;
    color: #939ca3;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.fs--sub-user li a span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #444b52;
    margin-top: 0
}

.fs--sub-user li:hover {
    background: #f8f9fa
}

.fs--sub-user li:hover i {
    color: #cb1c22
}

.fs-hdmn>li:hover .fs-hdmsub {
    opacity: 1;
    visibility: visible;
    -o-transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}

.fs-hdmn>li:hover .fs--sub-user {
    opacity: 1;
    visibility: visible
}


.fs-menu {
    position: relative;
    border-radius: 4px 0px 0px 0px;
    z-index: 9;
    height: 57px;
    background: #5A3F0E;
    margin-left: 80px;
}

.fs-mnul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%
}


.fs-mnul>li>a .base-ic {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin-right: 65px;
}

.fs-mnul>li>a>i {
    color: #FFFFFF;
    font-family: 'Sora';
    font-size: 12px;
    font-weight: 300;
}

.fs-mnul>li>a i.ic-home-appliances {
    font-size: 12px
}

.fs-mnul>li:last-child {
    margin-right: 0;
}

.fs-mnul>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
}
.fs-mnul>li>a:hover {
    color: #E98D26;
    font-family: 'Sora';
    font-size: 12px;
    font-weight: 600;
}



.fs-mnul>li>a>i {
    vertical-align: middle;
    margin-right: 5px
}

.fs-mnul>li>a>span {
    display: none;
    vertical-align: middle;
    width: 8px;
    height: 6px;
    background-position: -103px -98px;
}

.fs-mnulsb {
    position: relative;
    z-index: 0;
}

.fs-hdmsubsmall {
    top: 61px
}

.home-top-header {
    z-index: 0;
    position: relative;
}

.tygh-content {
    z-index: 0;
    position: relative;
}

.fs-mnsub {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    border: solid 1px #d3d3d3;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 100;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.fs-mnul>li:hover .fs-hdmsub,
.fs-mnul>li:hover .fs-mnsub {
    opacity: 1;
    visibility: visible;
    -o-transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}

.fs-mnbox {
    display: table;
    width: 100%
}

.fs-mntd {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}

.fs-mnstit {
    font-size: 13px;
    font-weight: 700;
    color: #3d3d3d;
    text-transform: uppercase;
    padding: 8px 0 12px;
}

.fs-mntd1 {
    width: 33%;
    border-right: 1px solid #e3e3e3
}

.fs-mntd2 {
    width: 15%;
    border-right: 1px solid #e3e3e3
}

.fs-mntd3 {
    width: 29%
}

.fs-mntd4 {
    width: 23%;
    text-align: center
}

.fs-mnsul>li {
    float: left
}

.fs-mnsul>li>a {
    font-size: 13px;
    color: #3d3d3d;
    padding: 5px 0;
    display: block;
}

.fs-mnsul>li>a:hover {
    color: #000
}

.fs-mnsul3>li {
    width: 33.33%
}

.fs-mnsul1>li {
    width: 100%
}

.fs-mnsprod>li {
    margin-bottom: 15px
}

.fs-mnsprod>li>.fs-mnspimg {
    width: 80px;
    height: 80px;
    float: left;
    display: block
}

.fs-mnspimg img {
    width: 80px
}

.fs-mnsprod>li>div {
    margin-left: 90px
}

.fs-mnsprod>li>div>h3 {
    font-size: 14px;
    margin-bottom: 8px
}

.fs-mnsprod>li>div>h3>a {
    color: #505050
}

.fs-mnsprod>li>div>h3>a:hover {
    color: #000
}

.fs-mnsprod>li>div>p {
    font-size: 14px;
    font-weight: 700;
    color: #d0021b
}

.fs-mnsbxh a {
    font-size: 14px;
    color: #337ab7;
    display: block;
    text-align: center
}




@media (max-width:1200px) {


    .category-container,
    .f-wrap {
        max-width: 1200px;
        padding: 0 8px
    }

    .fs-search>form {
        max-width: 470px
    }

    .fs-menu ul>li>a {
        font-size: 12px
    }

    .fs-hdmsubsmall {
        top: 58px
    }

    .fs-mnul>li {
        margin-right: 8px
    }

    .fs-ftcol>h2 {
        font-size: 13px
    }

    .fs-ftul li a {
        font-size: 13px
    }

    .fs-ftcol2 {
        width: 46%
    }
}

@media (max-width:1040px) {
    body {
        overflow-x: auto
    }
}

.fs-hdmsubsmall,
.fs-mnsub {
    top: 55px
}



p.fshop-search-prodprice.price-sub {
    color: #777
}



.fs-footer ul b,
.fs-footer ul i,
.fs-footer ul li,
.fs-footer ul p,
.fs-footer ul span,
.fs-mnbox b,
.fs-mnbox h1,
.fs-mnbox h2,
.fs-mnbox h3,
.fs-mnbox h4,
.fs-mnbox h5,
.fs-mnbox i,
.fs-mnbox p,
.fs-mnbox span {
    margin: 0 !important;
    line-height: 1.4 !important
}

.fs-footer .ft-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}